.bgc 
{
	background: #ADD8E6;
}
.secondbg 
{
	background-color:#e0f6ff;
	
}
.format 
{
	margin: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.locyear 
{
	float: right;
	min-width:171px;
	max-width:300px;
}
.center 
{
	text-align: center;
	justify-content: center;
}
.underline 
{
	text-decoration: underline;
}
.banner 
{
	list-style-type: none;
	text-decoration: none;
	justify-content: space-between;
  background: lightskyblue;
  background-color: lightskyblue;
}
.rightfloat 
{
	font-size: small;
	float: right;
	margin-top: 15px;
}
.border 
{
	background: #e0f6ff;
	overflow: auto;
}
.topz
{
	padding-top: 0px;
}
.introphoto 
{
	width: 450px;
	height:305px; 
}
.introtext 
{
	padding-top: 7px;
}
.columnL
{
  float: left;
  width: 50%;
  padding: 0px;

}
.columnR
{
  float: right;
  width: 50%;
  padding: 0px;
}
.headerbg 
{
	background: #87CEFA;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav 
{
	list-style-type: none;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
	justify-content: space-between;
}
.centermqnav 
{
  	padding-left: 0px;
}
.container 
{
		display: flex;
}
a 
{
	padding-right: 30px;
	text-decoration: none;
	color: black;
}
a:visited 
{
	color: black;
}
a:hover 
{
	color: white;
	text-decoration: underline;
}
a:active 
{
	color: black;
}
h2 
{
	background: #87CEFA;
	padding-top: 5px;
	padding-bottom: 5px;
}
body 
{
	font-family: "Times New Roman", Georgia;
}
footer 
{
	list-style-type: none;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
	justify-content: space-between;
}
@media screen and (max-width: 1000px) 
{
  h1 
  {
  	font-size: 30px;
  }
  h2 
  {
  	font-size: 20px;
  }
  .introphoto 
  {
  	width: 350px;
  	height:205px; 
  }

}
@media screen and (max-width: 600px) 
{
  h1 
  {
  	font-size: 30px;
  }
  h2 
  {
  	font-size: 20px;
  }
  .introphoto 
  {
  	width: 205px;
  	height: 205px;
  }
	.rightfloat 
	{
		font-size: small;
		float: right;
	}
}